<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <parameter name="URL" value="qaacademy.com"/>
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.Demo"/>
      <class name="test.Remo"/>
      <class name="test.HomeLoan">
       <methods>
         <include name ="APILoginHomeLoan"/>
         <include name="WebLoginHomeLoan"/>
       </methods>
      
      </class>
      <class name="test.CarLoan">
       <methods>
         <exclude name ="Mobile.*"/>
       </methods>
      </class>      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
